#home-banner img {
	margin: 0 0 10px 0;
}

.featured-title {
    border-bottom: 3px solid #000000;
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
}
.featured-title h5 {
   float: left;
   background: #000;
   padding: 9px 12px;
   color: #fff;
   margin: 0;
   font-size: 1.8em;
}

/* Product Grid */
.main .products-grid {
	margin: 0 0 18px 0;
	float: left;
}
.products-grid .item {
	list-style: none;
	float: left;
	margin: 0 10px 10px 0;
	padding: 1px 1px 6px 1px;
	width: 180px;
	overflow: hidden;
	position: relative;
}
.products-grid .item.last {
	margin-right: 0
}
.products-grid .item:hover,
.products-grid .item:focus {
    background: #e6e6e6; 
}
.products-grid .product-image {
	position: relative;
	float: left;
	text-decoration: none;
	margin: 0 0 9px 0;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	background: #fff;
}
.products-grid .prod-grid-desc {
	text-align: center;
}
.products-grid .product-name {
    clear: both;
    line-height: 1.2;
    margin: 0;
    letter-spacing: 1px;
    padding: 0 0 6px 0;
	font-size: 1.1em;
}
.product-name a,
.product-name a:hover,
.product-name a:focus {
    text-decoration: none;
}

.price-container { }

/* Product Grid Price */
.price-box {
    margin: 0 0 6px 0;
}
.price-box,
.price-box p {
    line-height: 1.2;
    color: #777777;
    font-weight: bold;
    letter-spacing: 1px;
}
.price-box p {
    margin: 0;
}
.price-box span.price {
    font-size: 1.1em;
} 

.price-box .price-label {
    display: none;
}

.price-box .old-price,
.price-box .special-price {
    display: inline;
}
.price-box .old-price .price {
    margin: 0 6px 0 0;
}

.price-box .old-price span.price {
    text-decoration: line-through;
}
.price-box .special-price span.price {
    color: #e70000;
    margin: 0 6px 0 0;
}

.products-grid li .actions {
	text-align: center; 
	clear: both;
	margin: 6px 0 0;
}


.center-rel {
	clear: both;
	overflow: hidden;
	*zoom: 1;
    *position: relative;
}
.center-rel-inner {
	position: relative;
    left: 50%;
    float: left;
}
.center-rel .products-grid {
	position: relative;
    right: 50%;
    *float: left;
}


/* One item */
.one-item .item {
	margin: 0 0 10px 0;
	padding: 0;
	width: 100%;
}
.one-item .item:hover, 
.one-item .item:focus {
    background: none;
}
.one-item .product-image {
	margin: 0 20px 0 0;
	padding: 0 0 6px 0;
	border: 0;
}
.one-item .prod-grid-desc {
	clear: none;
	float: left;
	width: 462px;
	padding: 10px 0 0 0;
	text-align: left;
}
.one-item .product-name {
	font-size: 1.5em;
}
.one-item .price-box span.price {
	font-size: 140%;
}
.one-item .actions button {
	font-size: 1.3em;
}
.further_details {
	padding-top: 16px;
	border-top: 1px solid #ccc;
	margin-top: 40px;
}
.further_details li {
	margin-left: 0;
}

.col2-left-layout .one-item .prod-grid-desc {
	width: 358px;
}

/* Two row */
.two-row .item {
	margin: 0 20px 10px 0;
	width: 470px;
}
.two-row .product-name {
	font-size: 1.5em;
}
.two-row .price-box span.price {
	font-size: 140%;
}
.two-row .actions button {
	font-size: 1.2em;
	
}

.col2-left-layout .two-row .item {
	margin: 0 25px 10px 0;
	width: 360px;
}
.col2-left-layout .two-row .item.last {
	margin-right: 0;
}

/* Three row */
.three-row .item {
	margin: 0 29px 10px 0;
	width: 300px;
}
.three-row .product-name {
	font-size: 1.4em;
}
.three-row .price-box span.price {
	font-size: 130%;
}
.three-row .actions button {
	font-size: 1.1em;
	
}


/* Four row */
.four-row li.first {
	width: 384px;
}
.four-row li.first .product-image {
	float: left;
	margin: 0 10px 0 0;
	border-bottom: none;
	padding-bottom: 9px;
	background: #fff;
}
.four-row li.first img {
	width: 220px;
	height: 220px;
}
.four-row li.first .prod-grid-desc {
	clear: none;
	float: left;
	width: 154px;
	text-align: left;
}
.four-row li.first .product-name {
	padding: 10px 0 6px 0;
}
.four-row li.first .further_details {
    margin-top: 10px;
    padding-top: 10px;
}




/* New banner */
.item .new {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    background: url(../img/icons/corner_new2.png) no-repeat 0 0;
}
.one-item .item .new {
	width: 120px;
    height: 118px;
}


/* Tabs */

#bannertabs {
    clear: both;
    position: relative;
    z-index: 2;
    margin: 0 0 32px 0;
}
#bannertabs .tabs {
    list-style: none;
    margin: 0;
    text-align: center;
}
#bannertabs .tabs li {
    padding: 0 0 17px 0;
    margin-bottom: -17px;
    display: inline-block;
    font-size: 1.4em;
    line-height: 1;
    font-family: Georgia, serif;
    position: relative;
}
#bannertabs .tabs li span {
    display: none;
    position: absolute;
    left: 0;
}
#bannertabs .tabs li span.r {
    left: auto;
    right: 0;
}
#bannertabs .tabs li a {
    padding: 12px 20px;
    display: inline-block;
    color: #999;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 2px;
}
#bannertabs .tabs li a:hover,
#bannertabs .tabs li.ui-state-active a {
    color: #333;
}
#bannertabs .tabs li.ui-state-active span {
    display: inline;
}
#bannertabs .tabs li.ui-state-active {
    background: url(../img/icons/indicator.png) no-repeat 50% 100%;
    margin-left: 6px;
    margin-right: 6px;
}
#bannertabs .tabs li.current span.l {
    
}
#bannertabs .tabs li.current span.r {
    
}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}
.remove-tabs-accessibility {
	height: 200px;
	overflow: hidden;
}



/* Product Details page 
   ------------------------------------------------------- */
   
.product-view {
	float: left;
	width: 800px;
	margin: 0 20px 0 0;
}

/* Product Image */
.product-img-box {
	float: left;
	margin: 0 20px 10px 0;
	width: 320px;
}
.product-image {
	position: relative;
	display: block;
	margin: 0 0 9px 0;
}
.product-img-box .product-image img {
	width: 320px;
	height: 320px;
}

#largeImg {
	width: 36px;
	height: 37px;
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 0;
	overflow: hidden;
	text-indent: -999em;
	background: url(../img/icons/zoom.png) no-repeat 0 0;
	cursor: pointer;
	display: block;
}
/* More Views */
.more-views ul li {
	list-style: none;
	float: left;
	margin: 0 2px 0 0;
}

.more-views-wrap {
	width: 320px;
	overflow: hidden;
}
.more-views2 {
	width: 333px;
}
.more-views2 img {
	width: 100px;
	height: 100px;
}
.more-views2 ul li {
	list-style: none;
	float: left;
	margin: 0 10px 9px 0;
}
.more-views2 ul li.last {
	margin-right: 0;
}



/* Product Details */
.product-collateral {
	float: left;
	width: 460px;
}
.product-view .btn-cart {
	padding: 0.75em 0.25em 0.75em 0.5em;
	font-size: 200%;
	text-decoration: none;
	background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* W3C */
    text-align: left;
    text-decoration: none;
    width: 230px;
}
.product-view .btn-cart:hover,
.product-view .btn-cart:focus {
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#25f14b), to(#33b44b));
	background: -moz-linear-gradient(top, #25f14b, #33b44b);
}
.product-view .btn-cart .plus_icon {
	background: url(../img/icons/plus2basket.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
	display: block;
    float: left;
    margin: 0 12px 0 0;
}	
.product-view .btn-cart .arrow_r {
	width: 14px;
	height: 20px;
	background: url(../img/icons/arrow_basketBtn.png) no-repeat 0 0;
	float: right;
	position: relative;
	right: 10px;
}

.product-main-info h1 {
	font-size: 2.4em;
	margin: 0 0 12px 0;
}
.product-main-info .price-box {
	text-align: left;
	font-size: 1.5em;
	margin: 0 0 20px 0;
	border-bottom: 1px dashed #EFEFEF;
    padding: 0 0 15px;
}
.short-description {
	font-size: 1.3em;
	margin: 0 0 18px 0;
}
.short-description p {
	font-size: 1em;
}

.product-options {
	margin: 0 0 10px 0;
	clear: left;
	float: left;
}
.product-options label,
.product-options-bottom label {
	font-size: 1.3em;
	line-height: 24px;
	margin: 0 12px 0 0;
	float: left;
}
.product-options dl {
	float: left;
}
.product-options dt {
	font-size: 1em;
	float: left;
}
.product-options dd {
	font-size: 1em;
	float: left;
}
.product-options .sbSelector,
.product-options-bottom .sbSelector {
	border: 1px solid #efefef;
}
.product-options .required em {
	display: none;
	padding: 0 6px 0 0;
}

.product-options .validation-advice {
	width: 160px;
	clear: left;
}
.product-options .qtyOption {
	float: left;
}
.product-options-bottom {
	clear: left;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #EFEFEF;
    overflow: hidden;
    padding: 0 0 18px;
}
.main .add-to-cart {
	margin: 0 0 0 -10px;
	float: left;
}


.tabs {
    clear: both;
    position: relative;
    z-index: 2;
    margin: 0 0 28px 0;
}
.tabs .tab {
    overflow: hidden;
}

.tablist {
    border-bottom: 1px solid #ccc;
}
.tablist li {
    display: inline-block;
    font-size: 1.3em;
    line-height: 1;
    position: relative;
    list-style: none;
    text-transform: uppercase;
}
.tablist li a {
    padding: 9px 12px 7px;
    display: inline-block;
    color: #999;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 2px;
    background: #ededed;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
}
.tablist li a:hover,
.tablist li.current a {
    color: #000;
    text-decoration: none;
}
.tabs li.current a {
    background: #ccc;
}


#product-reviews-list {
	clear: both;
	height: 240px;
    margin-bottom:  18px;
    overflow: auto;
    padding-right: 20px;
}
#product-reviews-list dt a {
	margin: 0 10px 0 0;
}

#review-tabs .tab-content .reviewSummary p {
	font-style: normal;
	margin-bottom: 16px;
	overflow: hidden;
}

#review-tabs .box-review .box-title {
	display: none;
}

#review-tabs .tab-content .reviewSummary .last {
    left: auto;
    right: auto;
}
#product-reviews-list dt  {
	font-size: 1.2em;
	border-bottom: 1px solid #ddd;
}
#product-reviews-list dt a {
	font-size: 116.66%;
}
#review-tabs #product-reviews-list .tab-content {
	padding: 0;
}

#product-reviews-list dd {
	border-bottom: 1px solid #ccc;
	padding: 0;
	margin: 0 0 18px 0;
	font-size: 1em;
	float: none;
}
#product-reviews-list dd p {
    font-size: 1.1em;
}
#product-reviews-list dd p.date {
    font-size: 0.9em;
    color: #000;
    margin-bottom: 9px;
}
#product-reviews-list dd.last {
    border-color: #000;
}


/* Review form page */
.review-product-list .colL,
.review-product-list .productOptions,
.review-product-list .product-collateral,
.review-product-list .furtherProdInfo,
.review-product-list #review-tabs {
	display: none;
}

.review-product-list .colR {
	float: left;
	width: 948px;
}
.review-product-list .grey-box {
    width: 920px;
    overflow: hidden;
}

#customer-reviews .pager {
	border-bottom: 1px solid #eee;
	padding: 12px 0 6px 0;
	width: 100%;
	margin: 0 0 12px 0;
}

.review-product-list #customer-reviews {
	width: 948px;
}
.review-product-list #customer-reviews .box-title {
	clear: both;
	overflow: hidden;
}
.review-product-list #customer-reviews h2{
	padding: 9px 0;
	text-transform: uppercase;
	font-size: 2em;
	margin: 20px 0 0 0;
}
.review-product-list #customer-reviews .product-name {
	text-align: left;
	text-transform: capitalize;
	font-size: 1.6em;
	margin: 12px 0;
}
.review-product-list #product-reviews-list {
	height: auto;
	max-height: 520px;
}

.review-product-list  #product-reviews-list dt {
    font-size: 1.7em;
}
.review-product-list  #product-reviews-list dt span{
    font-size: 91.666%;
    color: #777;
}
.review-product-list  #product-reviews-list dd p {
    font-size: 1.2em;
    color: #555;
}
.review-product-list  #product-reviews-list dd p.date {
    font-size: 0.9em;
    color: #000;
}

#customer-reviews .validation-advice {
    padding: 3px 0 0 0;
    clear:  left;
    position: relative;
    top: -15px;
}
#customer-reviews input[type="text"], 
#customer-reviews textarea, 
#customer-reviews input.input-text {
    width: 300px;
}

#customer-reviews .columnR {
	float: right;
	width: 390px;
}
#customer-reviews .columnL {
	float: left;
}
/* Review form page form */
#customer-reviews #review-form {
	overflow: hidden;
	margin: 0 20px 24px 24px;
}
#customer-reviews li {
	font-size: 1.3em;
}
#customer-reviews .form-list label {
    width: 150px;
}
#customer-reviews .form-buttons {
    width: 472px;
}



/* Product Details Section */

#prod_details {
	clear: both;
}
.track_listing p {
	background: #fafafa;
	margin: 0;
	padding: 4px 8px;
	border-bottom: 1px solid #fff;
}
.track_listing p:nth-child(2n+2) {
	background: #f8f8f8;
}

/* Base Links */

.base-links li {
	list-style: none;
	float: left;
	margin: 0 12px 28px 0;
}

/* Social Media */

#social_media p {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 6px 0;
	clear: both;
	overflow: hidden;
}

/* Related Products */

#related_products {
	float: left;
}
#related_products h5 {
	font-size: 1.8em;
	border-bottom: 1px solid #ccc;
	padding: 0 0 12px 0;
	margin: 0 0 10px 0;
}

#related_products ul li {
	list-style: none;
	margin: 0 0 10px 0;
	text-align: center;
}
#related_products ul li img {
	width: 120px;
	height: 120px;
}

#related_products .product-name {
	margin: 0 0 4px 0;
}
#related_products .product-name a {
	text-decoration: underline;
}
#related_products .price-container {
	margin: 0 0 4px 0;
}
#related_products .price-box span.price {
	font-size: 1em;
}
#related_products .actions button {
	font-size: 0.9em;
}

/* More views carousel 
-------------------------------------------- */
.jcarousel-container {
    /* background: #dbdbdb; */
}
.jcarousel-container-horizontal {
    width: 260px;
    padding: 0 30px;
    margin: 0 0 18px 0;
}
.jcarousel-clip {
    overflow: hidden;
}
.jcarousel-clip-horizontal {
    height: 88px;
    width: 270px;
    left: -4px;
}
.jcarousel-item {
    width: 86px;
    height: 86px;
    border: 1px solid #fff;
}

/* Temp */
.more-views .jcarousel-item {
    margin: 0;
    margin-right: 2px;
}
.more-views .jcarousel-item img{
    width: 84px;
    height: 84px;
}
/* */

.jcarousel-item:hover,
.jcarousel-item:focus {
    border-color: #fff;
}
.jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 2px;
}
.jcarousel-next-horizontal {
    position: absolute;
    right: 0;
    top: 23px;
    width: 33px;    
    height: 30px;
    cursor: pointer;
    background: transparent url(../img/icons/next-horizontal.png) no-repeat 0 0;
}
.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}
.jcarousel-next-horizontal:active {
    background-position: -64px 0;
}
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-prev-horizontal {
    position: absolute;
    top: 23px;
    left: 0;
    width: 33px;
    height: 30px;
    cursor: pointer;
    background: transparent url(../img/icons/prev-horizontal.png) no-repeat 0 0;
}
.jcarousel-prev-horizontal:hover,
.jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}



.badge {
	position: absolute;
	background-repeat: no-repeat;
	background-position: 0 0;
	display: block;
	z-index: 1;
}
.one-item .base-bar,
.three-row .base-bar {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 22px;
	background-image: url(../img/banners/red_opacity.png);
	background-repeat: repeat;
	text-align: center;
	padding: 8px 0;
	color: #fff;
	font-size: 1.8em;
	line-height: 1;
}

.two-row .base-sash {
	bottom: 0;
	background-image: url(../img/banners/badge_2_base_sash.png);
    font-size: 1.7em;
    padding: 0;
    right: 0;
    width: 340px;
	height: 66px;
}
.two-row .base-sash.internet-exclusive {
    color: #fff;
    font-size: 1.7em;
    height: 47px;
    padding: 24px 0 0 59px;
    right: 0;
    width: 282px;
}

.two-row .star {
	top: 16px;
	background-image: url(../img/banners/badge_2_star.png);
    color: #fff;
    font-size: 1.7em;
    height: 160px;
    right: 16px;
    width:160px;
}
.two-row .star.limited-edition {
    color: #fff;
    font-size: 1.7em;
    line-height: 1;
    text-align: center;
    padding-top: 55px;
    height: 105px;
}

.three-row .top-cnr-sash {
	top: 0;
    right: 0;
    width: 120px;
	height: 118px;
	overflow: hidden;
	text-indent: -999em;
}
.three-row .top-cnr-sash.new {
    background-image: url(../img/banners/corner_new2.png);
}

.three-row .base-bar {
	font-size: 1.3em;
}

.sale { }
.sold-out { }
.pre-order { }

/* Left Nav 'Magento Layout' */
.col2-left-layout #bannertabs img {
	width: 754px;
}
.col2-left-layout #bannertabs .remove-tabs-accessibility {
	height: 156px;
}

#checkoutSteps {
	width:690px;
}



/* Block: Checkout Progress */
.opc-progress-container { float:right; margin: 0 0 20px;
    width: 230px;}
.opc-progress-container .opc-block-progress { background:#fff; }
.opc-progress-container .opc-block-progress .block-title { 
	padding:6px 0; 
	margin: 0 0 12px 0;
	background:none; 
	border-width: 1px 0;
	border-style: solid; 
	border-color: #686868; 
	text-transform: uppercase;
	font-size: 1.6em;
	line-height: 1.5;
}
.opc-progress-container .opc-block-progress .block-title strong { 
	font-weight: normal; 
	padding: 15px 15px 14px;
	color: #111111;
    font-size: 1.3em;
    display: block;
}
.opc-progress-container .opc-block-progress .block-content { 
	padding: 0;
}
.opc-progress-container .opc-block-progress dl { 
	padding: 0;
}
.opc-progress-container .opc-block-progress dt { 
	margin:2px 0 0 0; 
	padding: 5px 4px 3px 8px;
	background: #e6e6e6; 
	color: #242424;
	text-transform: uppercase;
}
.opc-progress-container .opc-block-progress dt.complete { 
	font-weight:bold; 
	margin:2px 0 4px; 
	font-size: 1.1em;
	padding: 5px 3px 3px 4px;
}
.opc-progress-container .opc-block-progress dt.complete span{
	font-weight: normal;
}
.opc-progress-container .opc-block-progress dt.complete a { 
	font-weight:normal; 
	text-transform:lowercase; 
	float: right;
    font-size: 80%;
    padding-top: 1px;
}
.safari .opc-progress-container .opc-block-progress dt.complete a { 
	width: 20px;
	overflow: hidden;
}
.opc-progress-container .opc-block-progress dd.complete { 
	margin:5px 0 8px; 
	padding:5px; 
}
.opc-progress-container .block-progress .cards-list dd { padding:0; }
.opc-progress-container .block-progress .cards-list .info-table th { font-weight:normal; }


#column_right,
#column_right .order-summary,
#column_right .order-summary #order-summary{
	float:right;
	width:230px;
	background:none;
	color:#111;
}
#column_right .order-summary {
	position: relative;
}
#column_right .order-summary #loading_mask_loader {
	display: none;
}

#column_right .sidebar_whitebox{
	float:left;
	width:200px;
	margin:0;
	padding:15px 15px 14px;
	background-color:#fff;
	text-transform:uppercase;
	color:#444;
        border-top: 1px solid #333;
}
#column_right .sidebar_grandtotal{
        border-bottom: 1px solid #333;
}
#column_right .sidebar_whitebox h3{
	font-size:2em;
	color:#111;
}
#column_right .sidebar_whitebox p{
	position:relative;
	float:left;
	width:200px;
	margin:0px 0px 15px;
	color:#111;
	font-size:1.1em;
	font-weight:bold;
}
#column_right .sidebar_whitebox p.delivery-summary{
	margin:0px 0px 25px;
}
#column_right .sidebar_whitebox p.subtotal-summary{
	margin:0px 0px 25px;
}
#column_right .sidebar_whitebox p.discount-summary{
	margin:0px 0px 0px;
}

#column_right .sidebar_whitebox p .delivery-labels {
	float:left;
	width: 132px;
}
#column_right .sidebar_whitebox p .label{
	float:left;
	width:127px;
	padding:0px 5px 0px 0px;
}
#column_right .sidebar_whitebox p .sublabel{
	float:left;
	width:127px;
	padding:0px 5px 0px 0px;
	font-weight:normal;
	font-style:italic;
	color:#818181;
	text-transform:none;
}
#column_right .sidebar_whitebox p .price{
	width:68px;
}
#column_right .sidebar_whitebox p.grandtotal-summary{
	font-size:1.4em;
        margin: 0 0 3px;
}
#column_right .sidebar_whitebox p.grandtotal-summary .sublabel{
	font-size:0.8em;
	line-height:1em;
}
#column_right .sidebar_whitebox#sidebar_billingaddress{
	
}
#column_right .sidebar_whitebox#sidebar_billingaddress p{
	margin:0px;
}
#column_right .sidebar_whitebox#sidebar_billingaddress p#sidebar_billingaddress_text {
	margin:auto;
	font-weight:normal;
	text-transform:none;
}
#column_right .sidebar_whitebox#sidebar_billingaddress .label{
	float:left;
	width:auto;
}
#column_right .sidebar_whitebox#sidebar_billingaddress p a{
	float:right;
	width:auto;
	text-transform:none;
	font-weight:normal;
}



#column_right .sidebar_whitebox .sidebar_input {
	width: 120px;
	float: left;
}
#column_right .checkout_whitebox button {
	background: #7D7D7D;
	padding: 2px 4px 3px 4px;
}
#column_right .checkout_whitebox button:hover {
	background: #111;
}
#column_right .checkout_whitebox button span {
	padding: 0;
	background: none;
}
#column_right .checkout_whitebox button span span {
	font-size: 12px;
}




/* Checkout */

/* ======================= Improved One Page Checkout with tabs  ======================== */
.block-progress .block-title { background:none; margin:0 0 34px; padding:0; }
.checkout-onepage-index .col-main { padding:0; border:0; }
.checkout-onepage-index .page-title { padding-right:40px; width:auto; }
.checkout-onepage-index .page-title h1 { background:none; padding:0; }

.opc { position:relative; overflow:hidden; height:970px; padding-top:20px; text-align:center; border:1px solid #BBAFA0; background:#F9F3E3; }
.opc .buttons-set { margin:15px 0 0; opacity:1!important; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link { display:none; }
.opc .buttons-set .please-wait { position:absolute; z-index:99; top:30%; left:50%; margin:-80px 0 0 -146px; border:5px solid #f3b66f; font-size:12px; background:#fff; padding:30px; white-space:nowrap; border:1px solid #c0c0c0; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 50px rgba(0,0,0,0.2); box-shadow:0 0 50px rgba(0,0,0,0.2); }
.opc .buttons-set a { color:#214D90; }
.opc .ul { list-style:disc outside; padding-left:18px; }
.opc li.section { display:inline; }
.opc .step-title,.opc .allow .step-title { border:1px solid #F9F3E3; height:69px }
.opc .step { padding:30px 20px; position:absolute; border:0; top:110px; left:0; z-index:1; background:#FBFAF6; width:605px; height:900px; border-bottom:1px dotted #ccc; border:none; width:643px; text-align:left; border-top:1px solid #BBAFA0; }
.opc .step-title .number,.opc .allow .step-title .number,.opc .active .step-title .number { float:none; display:block; margin:0 auto; margin-bottom:10px; }
.opc .step-title { position:relative; float:left; text-align:center; padding:15px 11px 0; margin-left:-1px; background:none; }
.opc .step-title a { display:none; }
.opc .step-title .number { background:#ccc; color:#fff; width:30px; height:30px; line-height:30px; -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; margin-bottom:10px; padding:0; border:0; }
.opc .step-title h2 { font-size:12px; color:#bbb; clear:both; }
.opc .allow .step-title { cursor:pointer; background:none; }
.opc .allow .step-title .number { background:#000; color:#fff; }
.opc .allow .step-title h2 { color:#000; }
.opc .active .step-title { color:#ef0606; cursor:default; border:1px solid #BBAFA0; border-bottom:1px solid #FBFAF6; z-index:2; background:#FBFAF6 url(../images/bkg_checkout.gif) 0 0 repeat-x; }
.opc .active .step-title .number { background:#F18200; border-color:#fff; color:#fff; }
.opc .active .step-title h2 { color:#F18200; }
.opc .step-title h2,.opc .allow .step-title h2,.opc .active .step-title h2 { width:100%; text-align:center; }
.opc .step-title { width:16%; }
.opc .form-list .field,.opc .form-list .wide { }
.opc .form-list li fieldset { margin-bottom:40px; }
.opc .form-list label { float:left; width:220px; text-align:right; padding:4px 0 0; }
.opc .form-list label.required em { float:none; position:relative; right:4px; }
.opc .form-list li.fields { margin:0; }
.opc .form-list div.fields { width:100%; overflow:hidden; margin:0 0 8px; }
.opc .form-list .wide,.opc .form-list li.fields .field { width:645px; margin:0 0 8px; }
.opc .form-list li.wide .input-box,.opc .form-list .input-box { clear:none; float:right; margin-right:140px; width:260px; }
.opc .form-list li.wide select { width:390px; }
.opc .form-list li.wide input.input-text { width:254px; }
.opc .form-list .control input { margin:8px 0 0 25px; }
.opc .form-list li.control label { float:left; }
.opc form .form-list li.wide { margin-bottom:8px; }
.opc form .address-select { margin:8px 0 40px; }

.opc:first-of-type .step{-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.opc:first-of-type .step[style*='display:none;'],
.opc:first-of-type .step[style*='display: none;']{display:block !important;}
.opc:first-of-type .section .step{left: 100%;}
.opc:first-of-type .allow .step{left: -100%;}
.opc:first-of-type .active .step{left:0;}
.opc:first-of-type li:last-child .step-title a{width:50%}
.opc:first-of-type li:first-child .step-title a{width:50%;left:50%}

#opc-login p.required { display:none; }
#opc-login h3 { margin-bottom:18px; }
#opc-login .col-2 { float:left; }
#opc-login .col-2 form fieldset h4 { display:none; }
#opc-login .col-2 { display:block; width:300px; }
#opc-login .col-2 fieldset { width:300px; }
#opc-login .col-2 .input-box { width:188px; margin:0; float:left; }
#opc-login .col-2 .input-text { width:182px; }
#opc-login .col-2 .form-list label { text-align:left; }
#opc-login .col-2 .form-list label { width:110px; }
#opc-login .form-list li.control label { float:none; }
#opc-login .form-list li.control input { margin:0 8px 0 0; }
#opc-login .col-1 { float:right; }
#opc-login .col-1 { width:290px; }
#opc-login .col-1 h4,#opc-login .col-1 .ul { display:none; }
#checkout-step-review.step { width:645px; }

#opc-review .step { padding:30px 20px; border-top:1px solid #BBAFA0; }
#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 0; border:0; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-shipping_method .buttons-set { border-top:1px solid #E4E4E4; }
/* ================================= Solution by www.h-o.nl =============================== */






/* ==================== Improved One Page Checkout with progressbar  ===================== */
.block-progress .block-title { background:none; margin:0 0 34px; padding:0; }
.checkout-onepage-index .col-main { padding:0; border:0; }
.checkout-onepage-index .page-title { padding-right:40px; width:auto; }
.checkout-onepage-index .page-title h1 { background:none; padding:0; }

.opc { position:relative; overflow:hidden; height:970px; padding-top:20px; text-align:center; border:1px solid #BBAFA0; background:#F9F3E3; }
.opc .buttons-set { margin:15px 0 0; opacity:1!important; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link { display:none; }
.opc .buttons-set .please-wait { position:absolute; z-index:99; top:30%; left:50%; margin:-80px 0 0 -146px; border:5px solid #f3b66f; font-size:12px; background:#fff; padding:30px; white-space:nowrap; border:1px solid #c0c0c0; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 50px rgba(0,0,0,0.2); box-shadow:0 0 50px rgba(0,0,0,0.2); }
.opc .buttons-set a { color:#214D90; }
.opc .ul { list-style:disc outside; padding-left:18px; }
.opc li.section { display:inline; }
.opc .step-title,.opc .allow .step-title { border-color:#FBFAF6; }
.opc .step { 
	padding:30px 20px; 
	position:absolute; 
	top:100px; 
	left:0; 
	z-index:1;  
	width:680px; 
	height:900px; 
	border-bottom:1px dotted #ccc; 
}
.opc .step-title .number,
.opc .allow .step-title .number,
.opc .active .step-title .number { float:none; display:block; margin:0 auto; margin-bottom:10px; }
.opc .step-title a { display:none; }
.opc .step-title .number { background:#fff; color:#ccc; width:30px; height:30px; line-height:30px; -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; margin-bottom:10px; padding:0; border:0; position:relative; z-index:1; }
.opc .step-title h2 { font-size:12px; color:#bbb; clear:both; margin-bottom:10px; }
.opc .allow .step-title .number { background:#000; border-color:#fff; color:#fff; }
.opc .allow .step-title h2 { color:#000; }
.opc .active .step-title .number { background:#F18200; border-color:#fff; color:#fff; }
.opc .active .step-title h2 { color:#F18200; }
.opc .step-title,.opc .allow .step-title,.opc .active .step-title { position:relative; text-align:center; border:none; background:none; padding:0; overflow:hidden!important; height:80px; display:inline-block; vertical-align:top; }
.opc .step-title,.opc .allow .step-title,.opc .active .step-title { *display:block; *float:left; } 
.opc .step-title h2,.opc .allow .step-title h2,.opc .active .step-title h2 { width:100%; text-align:center; }
.opc .step-title { width:16.4%; }
.opc .form-list .field,.opc .form-list .wide { }
.opc .form-list li fieldset { margin-bottom:40px; }
.opc .form-list label { float:left; width:220px; text-align:right; padding:4px 0 0; }
.opc .form-list label.required em { float:none; position:relative; right:4px; }
.opc .form-list li.fields { margin:0; }
.opc .form-list div.fields { width:100%; overflow:hidden; margin:0 0 8px; }
.opc .form-list .wide,.opc .form-list li.fields .field { width:645px; margin:0 0 8px; }
.opc .form-list li.wide .input-box,.opc .form-list .input-box { clear:none; float:right; margin-right:140px; width:260px; }
.opc .form-list li.wide select { width:390px; }
.opc .form-list li.wide input.input-text { width:254px; }
.opc .form-list .control input { margin:8px 0 0 25px; }
.opc .form-list li.control label { float:left; }
.opc form .form-list li.wide { margin-bottom:8px; }
.opc form .address-select { margin:8px 0 40px; }

.opc:first-of-type .step{-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.opc:first-of-type .step[style*='display:none;'],
.opc:first-of-type .step[style*='display: none;']{display:block !important;}
.opc:first-of-type .section .step{left: 100%;}
.opc:first-of-type .allow .step{left: -100%;}
.opc:first-of-type .active .step{left:0;}
.opc:first-of-type li:last-child .step-title a{width:50%}
.opc:first-of-type li:first-child .step-title a{width:50%;left:50%}
.opc:first-of-type .step-title a { display:block;height:1px;border-bottom:1px dashed #ccc; width:100%; text-indent:-3000px; position: absolute;top:15px;z-index: 0}
.opc:first-of-type .allow .step-title a {}

#opc-login p.required { display:none; }
#opc-login h3 { margin-bottom:18px; }
#opc-login .col-2 { float:left; }
#opc-login .col-2 form fieldset h4 { display:none; }
#opc-login .col-2 { display:block; width:300px; }
#opc-login .col-2 fieldset { width:300px; }
#opc-login .col-2 .input-box { width:188px; margin:0; float:left; }
#opc-login .col-2 .input-text { width:182px; }
#opc-login .col-2 .form-list label { text-align:left; }
#opc-login .col-2 .form-list label { width:110px; }
#opc-login .form-list li.control label { float:none; }
#opc-login .form-list li.control input { margin:0 8px 0 0; }
#opc-login .col-1 { float:right; }
#opc-login .col-1 { width:290px; }
#opc-login .col-1 h4,#opc-login .col-1 .ul { display:none; }

#checkout-step-review.step { width:645px; }
#opc-review .step { padding:30px 20px; border-top:1px solid #BBAFA0; }
#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 0; border:0; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-shipping_method .buttons-set { border-top:1px solid #E4E4E4; }
/* ================================= Solution by www.h-o.nl =============================== */


.onestepcheckout-enterprise li {
	list-style: none;
}